<p><%= @user.handle %></p>
<p><%= @user.station %></p>
<p><%= @user.birthday %></p>
<p><%= @user.bio %></p>
<img src="assets/#{@user.image}" alt="Freakin' Profile Pic" width="100px" height="100px">
<!-- find route to where image is saved -->

<section id="add">
  <form action="/home" method="POST">
    <textarea type="text" id="newPost" name="content" placeholder="My Freakin' Commute"></textarea>
    <br>
    <input type="submit" id="submit" value="Freakin' Tell Me About It">
  </form>
</section>


<div class="post_display">
<% @posts.each do |post| %>
  <article>
    <p>
    <!--   <span><a href="/<%= post.id %>">[edit]</a></span><br> -->
      <%= post.content %>
    </p>
    <p class="links">
      <a href="/home"><%= @user.handle %></a>
    </p>
    <p class="meta">Created: <%= post.timestamp %></p>
  </article>
<% end %>
</div>
