<p><%= @user.handle %></p>
<p><%= @user.station %></p>
<p><%= @user.birthday %></p>
<p><%= @user.bio %></p>
<img src="MFB.db/#{@user.image}" alt="Freakin' Profile Pic" width="100px" height="100px">
<!-- find route to where image is saved -->

<form action="/home" method="POST">
<!-- One, not both of these. -->
<form method="POST" action="/posts/new">
  <textarea type="text" id="newPost" name="[post]text" placeholder="My Freakin' Commute"></textarea>
  <br>
  <input type="submit" id="submit" value="Freakin' Tell Me About It">
</form>

<div>
  <%= @post %>
</div>