<p><%= @user.station %></p>
<p><%= @user.birthday %></p>
<p><%= @user.bio %></p>

<% @posts.each do |post| %>
  <article id="post_display">
    <p><%= @user.handle %></p>
    <p>Created: <%= post.timestamp %></p>
    <p><%= post.content %> <a href="/<%= post.id %>">[edit]</a></p>
  </article>
<% end %>